.header{
    padding: 5px,120px;
    width: 150px;
    height: 70px;
    background-color: #3f8184;
}
.border{
    padding: 80px,50px;
    width:400px;
    height:450px;
    background-color:#9AC0CD ;
    border: 1px solid #236B8E;
    border-radius:0px ;
}
.btn{
    padding: 10px,40px;
    background-color:#236B8E ;
    font-style: oblique;
    font-weight: bold;
    color: #FFFFFF;
    border-radius:10px;
}
.textbox{
    padding: 10px 40px;
    background-color: #236B8E; 
    border-radius: 10px;
}
::placeholder {
    color: #FFFFFF;
    opacity: 1;
    font-style: oblique;
    font-weight: bold;
}
.word{
    color: #FFFFFF;
    font-style: oblique;
    font-weight: bold;
}
.bottom{
    color: #236B8E;
    font-style: oblique;
    font-weight: bold;
}
    
